body {
  background-color: #171717;
  color: #b6b5b5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #f6e0e0;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #f6e0e0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #f6e0e0;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

a {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #877b7b;
  cursor: pointer;
}

.top-container {
  /* background-color: #171717; */
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #f6e0e0;
  padding: 50px 0 20px;
}

.middle-container #profile img{
  width: 300px;
  border-radius: 50%;
}

.dev {
  text-decoration: underline;
}

.intro {
  width: 60%;
  margin: auto;
}

.resume{
  color: #877b7b;
}

.resume :hover{
  color: #f6e0e0;
}

.contact-message {
  width: 60%;
  margin: 40px auto 40px;
}

.copyright {
  color: #171717;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain {
  width: 300px;
  padding-top: 40px;
}

#profile img {
  padding-bottom: 30px;
}

#contact-me h2{
  padding-bottom: 5px;
}

.contact-message a {
  color: #877b7b;
}

.contact-message a:hover{
  color:#b6b5b5;
}

.footer-link:hover {
  opacity: 70%;
}

/** Skills section **/
.layoutSkills {
  padding: 20px 15% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
}
.skillset {
  display: block;
  border-radius: 10px;
  border-color: #877b7b;
  border: solid;
  padding: 25px;
}

.layoutSkills h4{
  padding-bottom: 10px;
}

.skillset ul {
  padding-left: 0;
}
.skillset ul li{
  justify-content: center;
  line-height: 2;
  padding-bottom: 10px;
  list-style: none;
}


/** Projects section **/
.layout {
  padding: 50px 80px 30px;
  justify-content: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  flex-grow: 2;
}

.layout .project {
  display: block;
  border-radius: 10px;
  border-color: #877b7b;
  border: solid;
  padding: 20px;
  /* flex-grow: 2; */
}

.project h4{
  /* font-size: 1.5rem; */
  margin: 10px auto 25px;
}
.project p {
  /* font-size: 16px; */
  max-width: 100%;
}
.project a {
  color: #877b7b;
}

.project a:hover {
  color:  #b6b5b5;
  cursor: pointer;
}

/* @media screen and (max-width = 576px){
  body{
    background-color: red;
  }
} */
/*********************************************************************************** Hamburger **********************************************************************************/
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
  align-items: center;
  height: 62px;
  z-index: 100;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #171717;
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0.7rem;
   
} */


/* Making the hamburger */

/* 
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 28px;
  width: 34px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .bar {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #f6e0e0;
} */


/* Adding transitions  */

/* 
.nav-container .hamburger-lines .bar1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .bar2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .bar3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  background-color: #e9e5e5;
  background-image: -webkit-linear-gradient(top, #a1ded7, #ffb4b4);
  background-image: -moz-linear-gradient(top,#a1ded7, #ffb4b4);
  background-image: -ms-linear-gradient(top,#a1ded7, #ffb4b4);
  background-image: -o-linear-gradient(top,#a1ded7, #ffb4b4);
  background-image: linear-gradient(to bottom,#a1ded7, #ffb4b4);
  height: 100vh;
  width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
 */


/* Controlling the state of the icon */


/* .nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar1 {
  transform: rotate(45deg);
  background-color: #171717;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar3 {
  transform: rotate(-45deg);
  background-color: #171717;
} */ 
